body{
	background-image: url('../img/bg.png');	
}
p{
	font-family: 'Signika Negative', sans-serif;
}
// section-padding
.section-padding{
	padding: $section-padding;
}
.heading{
	padding-bottom: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Concert One', cursive;
}

.primary_btn{
	background-color: $primary-color;
	padding: 10px;
	width: 200px;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid $secondary-color;
	transition: 0.5s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.25);
	color: $secondary-color;
}

.primary_btn:hover{
	background-color: $secondary-color;
	border-color: $primary-color;
	color: $primary-color;
	box-shadow: none;
	
}