/* line 1, ../sass/base/_base.scss */
body {
  background-image: url("../img/bg.png");
}

/* line 4, ../sass/base/_base.scss */
p {
  font-family: 'Signika Negative', sans-serif;
}

/* line 8, ../sass/base/_base.scss */
.section-padding {
  padding: 30px 0 30px 0;
}

/* line 11, ../sass/base/_base.scss */
.heading {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Concert One', cursive;
}

/* line 18, ../sass/base/_base.scss */
.primary_btn {
  background-color: #FFD700;
  padding: 10px;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #222222;
  transition: 0.5s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0, 0, 0, 0.25);
  color: #222222;
}

/* line 30, ../sass/base/_base.scss */
.primary_btn:hover {
  background-color: #222222;
  border-color: #FFD700;
  color: #FFD700;
  box-shadow: none;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar {
  border-radius: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  position: fixed !important;
  z-index: 20;
}

/* line 10, ../sass/module/_navbar.scss */
.nav li a {
  color: #FFD700 !important;
}

/* line 14, ../sass/module/_navbar.scss */
.navbar-brand {
  padding: 2px 0 2px 10px !important;
}

/* line 18, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #FFD700 !important;
}

/* line 1, ../sass/module/_heroslider.scss */
.heroslider {
  margin-top: 50px;
}

/* Makes images fully responsive */
/* line 7, ../sass/module/_heroslider.scss */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
/* line 19, ../sass/module/_heroslider.scss */
.carousel-inner {
  border-radius: 15px;
}

/* line 23, ../sass/module/_heroslider.scss */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  bottom: 200px !important;
  z-index: 10;
  padding: 0 0 10px 25px;
}
/* line 30, ../sass/module/_heroslider.scss */
.carousel-caption h1 {
  color: #FFD700 !important;
  font-size: 45px;
  font-family: 'Concert One', cursive;
}
/* line 35, ../sass/module/_heroslider.scss */
.carousel-caption .primary_btn {
  color: #222222;
  margin-top: 20px;
}
/* line 39, ../sass/module/_heroslider.scss */
.carousel-caption .primary_btn:hover {
  color: #FFD700;
}

@media (max-width: 900px) {
  /* line 44, ../sass/module/_heroslider.scss */
  .carousel-caption {
    display: none;
  }
}
/* line 49, ../sass/module/_heroslider.scss */
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

/* line 61, ../sass/module/_heroslider.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* line 66, ../sass/module/_heroslider.scss */
.carousel .carousel-control {
  color: #FFD700;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
/* line 74, ../sass/module/_heroslider.scss */
.section-white {
  padding: 10px 0;
}

/* line 78, ../sass/module/_heroslider.scss */
.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {
  /* line 85, ../sass/module/_heroslider.scss */
  .section-white {
    padding: 1.5em 0;
  }
}
/* line 3, ../sass/module/_aboutus.scss */
.testimonial_subtitle {
  color: #0aaa7a;
  font-size: 12px;
}

/* line 7, ../sass/module/_aboutus.scss */
.testimonial_btn {
  background-color: #373d4b !important;
  color: #FFD700 !important;
  border: 2px solid #FFD700 !important;
}

/* line 1, ../sass/module/_stickyImg.scss */
.sticky-img {
  background-image: url(https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b749ef140950edd755a159baaca6b6f0&auto=format&fit=crop&w=1500&q=80);
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
  position: sticky;
  top: 2vh;
  z-index: -1;
}

/* line 1, ../sass/module/_rooms.scss */
.rooms {
  background-color: #222222;
  color: #fff;
}
/* line 4, ../sass/module/_rooms.scss */
.rooms--items {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  color: #222;
}
/* line 10, ../sass/module/_rooms.scss */
.rooms .heading {
  color: #FFD700;
}

/* line 1, ../sass/module/_gallery.scss */
.gallery {
  background-color: #fff;
}

/* line 4, ../sass/module/_gallery.scss */
.gallery-items {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}

/* line 15, ../sass/module/_gallery.scss */
.gallery-items img {
  width: 100%;
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid;
  /* For Firefox. */
  -webkit-column-break-inside: avoid;
  /* For Chrome & friends. */
  break-inside: avoid;
  /* For standard browsers like IE. :-) */
}

/* line 26, ../sass/module/_gallery.scss */
.gallery-items img:hover {
  opacity: 1;
  cursor: pointer;
}

/* line 31, ../sass/module/_gallery.scss */
.modal-img, .model-vid {
  width: 100%;
  height: auto;
}

/* line 35, ../sass/module/_gallery.scss */
.modal-body {
  padding: 0px;
}

/* line 39, ../sass/module/_gallery.scss */
.modal-dialog {
  text-align: center;
  vertical-align: middle;
  display: block;
  top: 10%;
}

/* line 46, ../sass/module/_gallery.scss */
.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  /* line 51, ../sass/module/_gallery.scss */
  .gallery-items {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  /* line 56, ../sass/module/_gallery.scss */
  .gallery-items div {
    margin: 0;
    width: 200px;
  }
}
@media screen and (max-width: 479px) {
  /* line 62, ../sass/module/_gallery.scss */
  .gallery-items {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  /* line 67, ../sass/module/_gallery.scss */
  .gallery-items div {
    margin: 0;
    width: 200px;
  }
}
/* line 1, ../sass/module/_contact.scss */
.contact {
  background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efe01df2ebde79714be88d560479c9c7&auto=format&fit=crop&w=1500&q=80);
  background-attachment: fixed;
  background-size: cover;
}
/* line 5, ../sass/module/_contact.scss */
.contact--bgcolor {
  background-color: #222;
}
/* line 8, ../sass/module/_contact.scss */
.contact--content {
  color: #fff;
  height: 350px;
  border: 2px solid #FFD700;
  color: #FFD700;
}
/* line 14, ../sass/module/_contact.scss */
.contact .heading {
  color: #FFD700;
}
/* line 17, ../sass/module/_contact.scss */
.contact form {
  padding-bottom: 15px;
}

/* line 1, ../sass/module/_footer.scss */
footer {
  background-color: #222;
  color: #fff;
  margin: 0;
  border-top: 2px solid #FFD700;
}
/* line 7, ../sass/module/_footer.scss */
footer .pagenav ul {
  display: inline;
}
/* line 10, ../sass/module/_footer.scss */
footer .pagenav ul li {
  list-style-type: none;
  padding-left: 5px;
}
/* line 14, ../sass/module/_footer.scss */
footer .pagenav ul li:hover {
  border-left: 5px solid #FFD700;
  transition: 0.5s;
}
/* line 18, ../sass/module/_footer.scss */
footer .pagenav a {
  color: #fff;
  text-decoration: none;
}

/* line 25, ../sass/module/_footer.scss */
.footer-heading {
  color: #FFD700;
}

/* line 31, ../sass/module/_footer.scss */
.wrp {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* line 37, ../sass/module/_footer.scss */
.wrp::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 44, ../sass/module/_footer.scss */
.icon {
  display: inline-block;
  font-size: 50px;
  line-height: 90px;
  height: 90px;
  width: 90px;
  margin-right: 20px;
  color: #4099ff;
  border-radius: 100%;
  position: relative;
}

/* line 56, ../sass/module/_footer.scss */
.icon::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

/* line 68, ../sass/module/_footer.scss */
.icon::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: #4099ff;
  border-radius: 100%;
  z-index: -1;
}

/* line 85, ../sass/module/_footer.scss */
.icon:hover {
  animation-name: bubble2;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

/* line 92, ../sass/module/_footer.scss */
.icon:hover::after {
  animation-name: bubble;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* line 98, ../sass/module/_footer.scss */
.icon-twitter {
  color: #4099ff;
}

/* line 102, ../sass/module/_footer.scss */
.icon-twitter::after {
  background: #4099ff;
}

/* line 106, ../sass/module/_footer.scss */
.icon-facebook {
  color: #3b5998;
}

/* line 110, ../sass/module/_footer.scss */
.icon-facebook::after {
  background: #3b5998;
}

/* line 114, ../sass/module/_footer.scss */
.icon-instagram {
  color: #3f729b;
}

/* line 118, ../sass/module/_footer.scss */
.icon-instagram::after {
  background: #3f729b;
}

/* line 122, ../sass/module/_footer.scss */
.icon-gplus {
  color: #dc4e41;
}

/* line 126, ../sass/module/_footer.scss */
.icon-gplus::after {
  background: #dc4e41;
}

@-moz-keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@-o-keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes bubble2 {
  100% {
    color: #fff;
  }
}
@-webkit-keyframes bubble2 {
  100% {
    color: #fff;
  }
}
@-o-keyframes bubble2 {
  100% {
    color: #fff;
  }
}
@keyframes bubble2 {
  100% {
    color: #fff;
  }
}
/* line 178, ../sass/module/_footer.scss */
.copy-right {
  background-color: #FFD700;
  color: #222222;
  margin: 0;
}
/* line 182, ../sass/module/_footer.scss */
.copy-right a {
  color: #3f145b;
  text-decoration: none;
}

@media (max-width: 900px) {
  /* line 189, ../sass/module/_footer.scss */
  .copy-right {
    padding: 5px;
  }
  /* line 191, ../sass/module/_footer.scss */
  .copy-right h4 {
    margin: 0;
  }
}
/* line 1, ../sass/module/_booking.scss */
.booking-form {
  background-color: #222222;
  margin-top: 50px;
}
/* line 4, ../sass/module/_booking.scss */
.booking-form .heading {
  color: #FFD700;
}
/* line 7, ../sass/module/_booking.scss */
.booking-form form input, .booking-form label {
  margin-bottom: 10px;
  border-radius: 0;
}
/* line 11, ../sass/module/_booking.scss */
.booking-form label {
  color: #fff;
}

/* line 1, ../sass/module/_gototop.scss */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 20;
}

/* line 22, ../sass/module/_gototop.scss */
#return-to-top i {
  color: #FFD700;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 35, ../sass/module/_gototop.scss */
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* line 38, ../sass/module/_gototop.scss */
#return-to-top:hover i {
  top: 5px;
}
