.about{}

.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: $primary-color !important;
    border: 2px solid $primary-color !important;
 }