.contact{
	background-image: url(https://images.unsplash.com/photo-1433323864097-e55f5767b2de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6976d34c4a533a03bccae695fff93145&auto=format&fit=crop&w=1500&q=80);
	background-attachment: fixed;
	background-size: cover;
  &--content{
    background-color: #222;
    color: #fff;
    height: 350px;
    opacity: 0.9;
    border: 2px solid $primary-color;
    color: $primary-color;
  }
  .heading{
		color: $primary-color;
	}
}