.sticky-img{
	background-image: url(https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b749ef140950edd755a159baaca6b6f0&auto=format&fit=crop&w=1500&q=80);
	background-attachment: fixed;
	background-size: cover;
	height: 300px;
	position: sticky;
	top: 2vh;
	z-index: -1;
}