.sticky-img{
	background-image: url(https://images.unsplash.com/photo-1519668642556-472f54ecb69b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cbf15bf49885edf8eb551ee1a5e65b3d&auto=format&fit=crop&w=1489&q=80);
	height: 700px;
	position: sticky;
	top: 2vh;
	z-index: -1;
}